<div id="contents">
  <h1>医学展とは</h1>

  <section id="summary">
    <h2>医学展とは?</h2>
    <p>
      北海道大学医学展は、北海道大学医学部医学科の有志が主体となり、以下の二点を主な意義と考え、毎年開催しております。
    </p>
    <ul>
      <li>医学生の教育環境、日頃の学習の成果を、市民の方々にご覧いただく</li>
      <li>市民の方々との交流から、医学生自身が医学生に求められているものを考える</li>
    </ul>
    <p>
      例年、医学展は北大祭開催期間中に併せて行っており、今回で52回目の開催となります。
      昨年は、他学部の学生を含め、延べ3000人以上の市民の方々のご来場があり、大変なご好評をいただきました。
    </p>
    <p>
      医学展には大きく分けて６つの部門があり、それぞれ検査体験会、科学体験教室、救急体験会、
      ハンディキャップ体験会、医学生による展示発表、講演会があります。
      加えて、医学科内外の団体による発表や展示、模擬店の出店があります。
      これらの部門を通して、皆様に楽しんでいただけるような医学展を目指しております。
      詳しい内容については<a href="/contents">各部門のページ</a>をご覧ください。
    </p>
  </section>

  <section id="theme">
    <h2>テーマ『芽ディカルCASCADE』</h2>
    <p>
      第52回医学展では『芽ディカルCASCADE』というテーマを設定致しました。
    </P>
    <p>
      『芽ディカルCASCADE』は、医学展で市民の皆さんが医学や医療・福祉と出会うことで、新たな興味・知識の芽をはぐくみ、
      その芽を医学展終了後もそれぞれの場所で育てていただくことで大きな木となり花を咲かせること、
      そしてその花が周囲に影響を与えることでCASCADE状に世界に広がっていくことをイメージしたものです。
    </p>
    <p>
      この度の第52回医学展では、来場者の皆様に、医学や医療・福祉に楽しみながら触れることにより
      「正しい健康知識により健康を増進させること」や「医学・医療・福祉問題に興味をもち、考えていただくこと」を目指しております。
      同時に、我々医学生は皆様との交流により「医学生として、市民のみなさんに求められているものを考えること」を目標にしております。
    </p>
    <p>
      ※CASCADE: 元々は、いくつもの滝が段状に連なっている様子のこと。転じて、医学の世界では小さな刺激がダイナミックな生体反応を生み出すことを指します。
    </p>
  </section>

  <section id="aboutus">
    <h2>医学展実行委員会とは？</h2>
    <p>
      医学展実行委員長（通称：展長）をはじめとする、北大医学科の学生によって構成される非営利の団体です。
      毎年より良い医学展を目指して展長が選ばれ、その意志に賛同した学生が中心となって活動しています。
      ご興味のある方はこちらまで → igakuten52 at gmail.com
    </p>
  </section>

  <section id="gallery">
    <h2>第51回写真ギャラリー</h2>
    <p>準備中…</p>
  </section>

  <div class="fb-like" data-href="http://hokudai-igakuten.org/about" data-send="false" data-width="640" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://hokudai-igakuten.org/about" data-width="640" data-num-posts="3"></div>
</div>

<div id="side">
  <nav>
    <ul>
      <li><a href="#summary"><span>医学展とは</span></a></li>
      <li><a href="#theme"><span>今年のテーマ</span></a></li>
      <li><a href="#aboutus"><span>医学展実行委員会とは</span></a></li>
      <li><a href="#gallery"><span>写真ギャラリー</span></a></li>
    </ul>
  </nav>
</div>
