<div id="contents">
  <h1>企画紹介</h1>

  <section id="checkup">
    <h2>検査体験</h2>
    <p class="author">92期 大塚 慎也</p>
    <p>
      検査部門では、実際に病院で行われている様々な検査を体験できます。
      そして、病院ではなかなか聞けない検査の仕組みや、身体の機能などについて学ぶことができます。
    </p>
    <p>
      この部門は心臓チーム、呼吸チーム、健康生活チーム、眼科チーム、アルパチチーム、５年生チームの６つのチームに分かれており、医学展のなかで最大の企画です。
      心臓チームでは、心電図検査やエコー検査が体験できます。心電図の成り立ちなどについても勉強できますよ。
      呼吸チームでは、肺活量測定などができます。我こそは、と思う方、ぜひチャレンジしてみてください。呼吸器系の疾患についても解説します。
      健康生活チームでは、骨密度や血管年齢が測定できます。自分の健康について、今一度考えてみるきっかけになりますよ。
      眼科チームでは、視力など、目の様々な機能の検査ができます。
      アルパチチームでは、アルコールパッチテストができます。未成年でも体験できますよ。
      ５年生チームでは、健康相談や血圧測定などを行います。主に５年生がお相手します。
    </p>
    <p>
      以上のように検査部門では、病院以外ではなかなか体験できない、いろいろな企画を行っています。
      医学の勉強にもなりますので、お気軽にお越しください。
    </p>
    <p>
      <em>お断り</em><br>
      医師免許を有していない医学生が診断を行うことは、医師法違反になります。検査方法の解説はできても、一切の診断はできません。
      また全ての検査は医学生が行うものであり、検査結果には医学的根拠はありません。ご了承ください。
    </p>
  </section>

  <section id="science">
    <h2>科学体験</h2>
    <p class="author">92期 長谷川 昌孝</p>
    <p>
      この部門では子供たちに科学の面白い部分に触れて興味を持ってもらうことを目的としています。
      小学校や中学校の理科でも様々なことを勉強しますが、実際に自分で体験して驚きを得る機会はなかなか少ないと思います。
      そこで私たちがそんな機会を提供する場になれればと思っています。
    </p>
    <p>
      科学体験部門には4つの企画があります。
      酸味を甘味に変えるミラクルフルーツ、甘味が感じなくなるギムネマ茶をつかった味覚の不思議体験。
      脳波を測定し脳の活動を読み取る装置をつかったゲーム。呼吸を担う肺、胸郭、横隔膜の構造や仕組みをペットボトルと風船で再現する胸郭模型作成。
      顕微鏡で自分の体をつくっている細胞を観察する口腔内粘膜標本の観察。
      どれも普段の勉強とは違った楽しいところばかりを詰め込んだので体験しに来てくだい！もちろん大人の方々も大歓迎です！
    </p>
  </section>

  <section id="handicap">
    <h2>ハンディキャップ体験</h2>
    <p class="author">93期 安田 充孝</p>
    <p>
      ハンディキャップ部門では、車いす体験や盲導犬体験など、身体の不自由な方がどのような感覚で毎日を送っているのかを想像していただけるような企画を用意しています。
      もちろん本当の感覚そのものを体験していただくのは難しいかもしれませんが、少しでも実際に近い状態に自分を置いてみることで身体の不自由な方が日々感じている大変さ、
      不便さなどを知っていただければと思います。そうしたことが分かれば、ハンディキャップを持っている方にふと出会ったとき、
      「いま大変そうだな」「これをしてあげれば役に立てるかな」という思いから、自然に手を差し伸べることができるかもしれません。
      そんなふうに、医学展というイベントで見聞きしたものを持ち帰り、自分の、周りの人々の生活に活かしていただければ、私たちにとってこんなに嬉しいことはありません。
      医学展当日はどうぞお気軽に、北大医学部前の噴水の近くにいらしてみてください。お待ちしています。
    </p>
  </section>

  <section id="exhibition">
    <h2>展示</h2>
    <p class="author">92期 小野寺 慧洲</p>
    <p>
      みなさん、こんにちは！
      私たち展示部門では、医学生によるポスター展示と小発表、医学生の日常を知ってもらい実際にお話ししようという企画を行います。
      普段、医学生が何を学びどのような生活を送っているのか、謎が多いだけにちょっと興味ありませんか？その一端を垣間見てください！笑
      ほかの部門ではゆっくりお話しできなくてもここでは大丈夫！お客さんと話すブースも設けております。
      医学部に興味ある中高生、また他学生、お子さんをお持ちの方までぜひぜひお越しください。
      お待ちしております。
    </p>
  </section>

  <section id="emergency">
    <h2>救急</h2>
    <p class="author">92期 大浦 峻介</p>
    <p>
      現在医療技術が進歩している中で、救命救急はますます重要となってきています。人間の脳は心臓・呼吸が止まってから4～6分で低酸素による危険な状態に陥ってしまいますが、2分以内に心肺蘇生が開始された場合の救命率は90%にまで上昇します。
      この企画では、来場者の皆様に救急医療に対する正しい知識を身に付けていただき、いざという時に一人でも多くの方を救うことができるようなお手伝いをします。
      具体的な企画内容としては、BLS人形という心肺蘇生用人形を用い、胸部圧迫、人工呼吸、AEDの操作方法を体験していただくことができるほか、最近様々な施設に設置されているAEDの扱い方をマスターすることができます。
      また、今年度は応急処置体験にも力を入れており、やけど時の対応など日々の生活のもしもの場合の対処方法を身に付けていただくことができるブースも設けています。
      この機会に、ぜひ救急に対する知識・技術を身に付けて初期救急の輪を広げることができれば幸いです。
    </p>
  </section>

  <div class="fb-like" data-href="http://hokudai-igakuten.org/contents" data-send="false" data-width="640" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://hokudai-igakuten.org/contents" data-width="640" data-num-posts="3"></div>
</div>

<div id="side">
  <nav>
    <ul>
      <li><a href="#checkup"><span>検査体験</span></a></li>
      <li><a href="#science"><span>科学体験</span></a></li>
      <li><a href="#handicap"><span>ハンディキャップ</span></a></li>
      <li><a href="#exhibition"><span>展示</span></a></li>
      <li><a href="#emergency"><span>救急</span></a></li>
    </ul>
  </nav>
</div>
