<div id="contents">
  <h1>提携団体</h1>

  <section id="ifmsa">
    <h2>IFMSA</h2>
    <p>
      春はあけぼの。やうやう白くなりゆく山際、少しあかりて、紫だちたる雲の細くたなびきたる。
    </p>

    <article id="kids">
      <h3>ぬいぐるみ病院</h3>
      <p>
        夏は夜。月の頃はさらなり。闇もなほ、蛍のおほく飛びちがひたる。また、ただ一つ二つなど、ほのかにうち光りて行くもをかし。雨など降るもをかし。
      </p>
      <p>
        秋は夕暮れ。夕日のさして山の端いと近うなりたるに、烏の、寝どころへ行くとて、三つ四つ、二つ三つなど飛び急ぐさへあはれなり。
        まいて、雁などのつらねたるが、いと小さく見ゆるは、いとをかし。 日入り果てて、風の音、虫の音など、はた言ふべきにあらず。
      </p>
      <p>
        冬はつとめて。雪の降りたるは言ふべきにもあらず、霜のいと白きも、またさらでもいと寒きに、火など急ぎおこして、炭持てわたるも、いとつきづきし。
        昼になりて、ぬるくゆるびもていけば、火桶の火も、白い灰がちになりてわろし。
      </p>
    </article>

    <article id="scora">
      <h3>SCORA</h3>
      <p>
        頃は、正月、三月、四月、五月、七、八、九月、十一、二月、すべて折につけつつ、一年ながらをかし。
      </p>
      <p>
        正月一日は、まいて空の気色もうらうらとめづらしう、霞みこめたるに、世にありとある人は、みな姿、かたち心ことにつくろひ、君をもわれをもいはひなどしたる、さまことにをかし。
        七日、雪間の若菜摘み、青やかにて、例は、さしも、さるもの目近からぬ所に、もてさわぎたるこそをかしけれ。
      </p>
    </article>
  </section>

  <section id="stall">
    <h2>出店</h2>
    <p>
      白馬見にとて、里人は車清げにしたてて見に行く、中御門の戸じきみ、引き過ぐる程、頭一所にゆるぎあひ、さし櫛も落ち、用意せねば、折れなどして笑ふもまたをかし。
      左衛門の陣のもとに、殿上人などあまた立ちて、舎人の弓ども取りて馬どもおどろかし笑ふを、はつかに見入れたれば、立蔀などの見ゆるに、主殿司、女官などの行き違いたるこそをかしけれ。
    </p>

    <article id="handball">
      <h3>ハンドボール部</h3>
      <p>
        「いかばかりなる人、九重をならすらむ」など思ひやらるるに、内裏にて見るは、いとせばき程にて、舎人の顔のきぬにあらはれ、まことに黒きに、白きもの行きつかぬ所は、
        雪のむらむら消え残りたる心地して、いと見苦しく、馬のあがりさわぐなども、いと恐ろしう見ゆれば、引き入られてよくも見えず。
        八日、人のよろこびして走らする車の音、ことに聞えて、をかし。
      </p>
    </article>

    <article id="pingpong">
      <h3>卓球部</h3>
      <p>
        十五日、節供参りすゑ、かゆの木ひき隠して、家の御達、女房などのうかがふを、「打たれじ」と用意して、常にうしろを心づかひしたる気色もいとをかしきに、
        いかにしたるにかあらむ、打ち当てたるは、いみじう興ありてうち笑ひたるは、いとはえばえし。
        「ねたし」と思ひたるも、ことわりなり。
      </p>
      <p>
        あたらしう通ふ婿の君などの内裏へ参る程をも、心もとなう、所につけて「われは」と思ひたる女房の、のぞき、気色ばみ、奥の方にたたずまふを、前にゐたる人は
        心得て笑ふを、「あなかま」とまねき制すれども、女はた知らず顔にて、おほどかにてゐ給へり。
        「ここなるもの取りはべらむ」など言ひ寄りて、走り打ちて逃ぐれば、ある限り笑ふ。
      </p>
    </article>

    <article id="tennis">
      <h3>テニス部</h3>
      <p>
        男君も、憎からずうち笑みたるに、ことにおどろかず顔少し赤みてゐたるこそをかしけれ。また、かたみに打ちて、男をさへぞ打つめる。
        いかなる心にかあらむ、泣き腹立ちつつ、人をのろひ、まがまがしく言ふもあるこそをかしけれ。内裏わたりなどのやむごとなきも、今日はみな乱れてかしこまりなし。
      </p>
    </article>
  </section>

  <section id="pcaf">
    <h2>産婦人科&PCAF</h2>
    <p>
      除目の頃など内裏わたりいとをかし。雪降りいみじう氷りたるに、申 文持て歩く四位五位、若やかに、心地よげなるは、いと頼もしげなり。
      老いて頭白きなどが、人に案内言ひ、女房の局などに寄りて、おのが身のかしこきよしなど、心一つをやりて説き聞かするを、若き人々はまねをし笑へど、いかでか知らむ。
      「よきに奏し給へ、啓し給へ」など言ひても、得たるはいとよし。得ずなりぬるこそ、いとあはれなれ。
    </p>
  </section>

  <div class="fb-like" data-href="http://hokudai-igakuten.org/cooperators" data-send="false" data-width="640" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://hokudai-igakuten.org/cooperators" data-width="640" data-num-posts="3"></div>
</div>

<div id="side">
  <nav>
    <ul>
      <li><a href="#ifmsa"><span>IFMSA</span></a>
        <ul>
          <li><a href="#kids"><span>ぬいぐるみ病院</span></a></li>
          <li><a href="#scora"><span>SCORA</span></a></li>
        </ul>
      </li>
      <li><a href="#stall"><span>出店</span></a>
        <ul>
          <li><a href="#handball"><span>ハンドボール部</span></a></li>
          <li><a href="#pingpong"><span>卓球部</span></a></li>
          <li><a href="#tennis"><span>テニス部</span></a></li>
        </ul>
      </li>
      <li><a href="#pcaf"><span>産婦人科&PCAF</span></a></li>
    </ul>
  </nav>
</div>
