<div id="contents">
  <h1>提携団体</h1>

  <section id="ifmsa">
    <h2>IFMSA</h2>
    <div class="author">
      <div class="face">
        <%= image_tag 'kanbu/avatar.png' %>
      </div>
      <div class="name">
        北海道大学医学部医学科 3年<br>
        江島 隆平
      </div>
      <span class="clearfix"></span>
    </div>
    <p>
      ぬいぐるみ病院は、IFMSA(国際医学生連盟)という団体の中のプロジェクトの一つです。
      僕たちはこのプロジェクトでの活動を通して、子どもたちの健康について考え保健教育を行ったり、
      病院や医療に対する恐怖心を緩和するためにぬいぐるみを使ったお医者さんごっこを行ったりしています。
    </p>
    <p>
      医学展においては例年は展示を中心とした企画を行っていましたが、
      今年度は子どもたちが保護者の方々と共にいらっしゃるまたとない機会なので、
      子供たちだけではなく保護者の方々も一緒に楽しめるような企画をできたらと考えています。
    </p>

    <p>
      様々な体験コーナーなども用意しておりますので是非足をお運びいただけたらと思います。
      これを機に子どもたちの健康について一緒に考えてみませんか？
    </p>
  </section>

  <div class="fb-like" data-href="http://hokudai-igakuten.org/cooperators" data-send="false" data-width="640" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://hokudai-igakuten.org/cooperators" data-width="640" data-num-posts="3"></div>
</div>

<div id="side">
  <nav>
    <ul>
      <!-- <li><a href="#ifmsa"><span>IFMSA</span></a></li> -->
    </ul>
  </nav>
</div>
