<style type="text/css">
  #title {
    margin: 0 0 20px;
  }

  #title h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #title h3 {
    font-size: 22px;
  }

  #title h3 #subtitle1 { text-align: left; }
  #title h3 #subtitle2 { text-align: right; }

  #detail {
    float: left;
    width: 520px;
    margin: 0 20px 0 0;
  }

  #detail ul li em {
    display: inline;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  #picture {
    float: right;
    width: 400px;
  }

  #profile div {
    float: left;
    width: 520px;
    margin: 0 20px 0 0;
  }

  #profile div:last-child {
    width: 400px;
    margin: 0;
  }

  #profile div section:first-child {
    margin: 0 0 20px;
  }

  em {
    font-weight: bold;
  }
</style>

<h1>鳥越俊太郎さん 特別講演会</h1>
<div>
  <div id="title">
    <h2 id="title">がん体験者が一番言いたいこと</h2>
    <h3>
      <div id="subtitle1">～私ががんになってから７年半じっと見つめてきた「がんとは何か」</div>
      <div id="subtitle2">どう対処するのが一番良いのか。日本の医療レベルは大丈夫か。～</div>
    </h3>
  </div>
  <div id="detail">
    <ul>
      <li><em>2013年6月8日（土）午後2時</em></li>
      <li><em>医学部学友会館「フラテ」ホール</em>
    </ul>
    <h2 style="margin-top: 20px;">講演会日程</h2>
    <ul>
      <li><span style="display: inline-block; width: 90px;">13:30~</span> 開場</li>
      <li><span style="display: inline-block; width: 90px;">14:00~15:30</span> 講演会、質疑応答</li>
      <li><span style="display: inline-block; width: 90px;">15:30~16:30</span> サイン会、著書販売</li>
    </ul>
    <h3 style="margin-top: 20px;">お席の事前予約が可能です</h3>
    <em style="font-size: 20px;">先着280名様限定</em></li>
    <div>
      事前予約なら、確実にお席をご用意いたします。（当日受け付けも勿論歓迎いたします。）<br>
      また、事前予約をしてくださった方から抽選で鳥越さんのサイン色紙をプレゼントいたします!!<br>
      事前申し込み、講演会に関するお問い合わせはこちらまで。<br>
      <em>※おことわり</em>
      お席のご指定はお受けいたしておりません。予めご了承ください。
      <h3>お申込み方法</h3>
      下記のいずれかの方法でお申し込みください。
      <ul style="list-style-type: disc; margin: 0 0 10px 20px;">
        <li>メールにて（"at" を @ に置き換えてください）：hu.igakuten52.lect "at" gmail.com</li>
        <li>
          お葉書でも事前申し込みが出来るようになりました！<br>
          〒060-8638<br>
          札幌市北区北15条西7丁目　北海道大学医学部内　医学展実行委員会行<br>
        </li>
      </ul>
      メールまたはお葉書にてお申し込みの場合は以下の項目をご記入頂ますようお願いいたします。
      <ul style="list-style-type: disc; margin: 0 0 10px 20px;">
        <li>代表者様のお名前、ふりがな</li>
        <li>代表者様の御電話番号</li>
        <li>お連れ様のお名前（皆様）</li>
      </ul>
      <em>※北大病院や医学部への直接のお問い合わせはご遠慮ください。</em>
    </div>
  </div>
  <div id="picture"><%= image_tag 'torigoe.jpg', title: '鳥越さん 顔写真', width: 400 %></div>
  <span class="clearfix"></span>
</div>

<article id="profile">
  <h2>講演者プロフィール</h2>
  <div>
    <section>
      <h3>略歴</h3>
      <p>
        1940年福岡県浮羽郡吉井町（現うきは市）出身。
        久留米大学附設高等学校を経て、京都大学文学部史学科国学専攻卒業。<br>
        1965年に毎日新聞社入社サンデー毎日編集部、外信部（イラン・イラク戦争時にイランのテヘラン特派員）を経て、
        サンデー毎日編集長となる。
        1988年毎日新聞退社後、テレビ朝日系列の報道ドキュメンタリー番組「ザ・スクープ」の司会に就任し、
        以後も「ニュースの職人」として数多くのニュース番組の司会・キャスターとして活躍。<br>
        <br>
      </p>
    </section>
    <section>
      <h3>闘病生活</h3>
      <p>
        2005年に直腸がんであることを告白。その後手術を受けて復帰。
        2007年に左肺へのがんの転移が発覚し手術するが、その半年後に右肺への転移も見つかり手術。
        2009年には肝臓と、計4回のがん手術を経験している。<br>
        2009年3月、NPO法人『がん患者団体支援機構』の理事長に就任。
        2010年5月まで約1年2ヶ月務めた。現在は、一般社団法人CSRプロジェクトの会長を務め、
        自身のがん闘病の記録についての放送や、「がんとの向き合い方」に関しての執筆や講演活動など、
        がんに関わる活動を精力的に行っている。<br>
        2012年12月9日に行われた第40回ホノルルマラソンでは8時間19分55秒で完走した。
      </p>
    </section>
    <div class="fb-like" data-href="http://hokudai-igakuten.org/recture" data-send="false" data-width="520" data-show-faces="true"></div>
    <div class="fb-comments" data-href="http://hokudai-igakuten.org/recture" data-width="520" data-num-posts="3"></div>
  </div>
  <div>
    <section>
      <h3>主な著書</h3>
      <ul>
        <li>『ニュースの職人「真実」をどう伝えるか』（ＰＨＰ研究所）</li>
        <li>『歳には勝てる』（マガジンハウス）</li>
        <li>『人間力の磨き方』（講談社新書）</li>
        <li>『本当は知らなかった日本のこと』（ミシマ社）</li>
        <li>『がん患者』（講談社）</li>
        <li>『鳥越俊太郎のエンディングノート 葬送曲はショパンでよろしく』<br><span style="display: block; text-align: right;">（アース・スターエンターテイメント）</span></li>
      </ul>
    </section>
    <section>
      <h3>公式ホームページ</h3>
      <a href="http://www.shuntorigoe.com/">鳥越俊太郎さん 公式ホームページ</a>
    </section>
  </div>
</article>
