<%= render partial: 'blog_entry', locals: { blog_entry: @blog_entry } %>
<div class="fb-comments" data-href="http://hokudai-igakuten.org/blog/<%= @blog_entry.id %>" data-width="640" data-num-posts="3"></div>
