html {
  overflow-y: scroll;
  min-height: 100%;
  background: $background;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}

a {
  color: $base-link-color;

  &:visited { color: darken($base-link-color, 15%); }
  &:hover   { color: lighten($base-link-color, 15%); }
  &:active  { color: lighten($base-link-color, 30%);}
}

.clearfix {
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  clear: both;
}

// Hack for Facebook comment box
.fb-comments {
  margin: 0 0 -9px;
  padding: 0;

  & > span {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
