// ====================================
// global variables
// ====================================

$border-color: #c0c0c0;
$base-link-color: #08c;


// ====================================
// global setting
// ====================================

html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: $base-link-color;

  &:hover   { color: lighten($base-link-color, 15%); }
  &:active  { color: lighten($base-link-color, 30%);}
  &:visited { color: darken($base-link-color, 15%); }
}


// ===================================
// scaffold style
// ====================================

form {
  margin: 15px;
}

#notice {
  color: #090;
}

.field {
  margin: 15px;
}

.field_with_errors {
  display: inline;

  label {
    padding: 5px;
    background-color: #f77;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


// ====================================
// kaminari pagination style
// ====================================

div.pagination {
  ul {
    margin: 0;
    padding: 0;
    height: 30px;
    list-style: none;

    li {
      $pagination-border-radius: 8px;
      $pagination-link-color: #777;

      float: left;
      line-height: 30px;
      margin: 0;
      padding: 0 10px;
      text-align: center;
      border: $border-color 1px solid;
      border-right: none;
      background-color: #fff;

      &:first-child {
        border-top-left-radius: $pagination-border-radius;
        border-bottom-left-radius: $pagination-border-radius;
      }

      &:last-child {
        border-right: $border-color 1px solid;
        border-top-right-radius: $pagination-border-radius;
        border-bottom-right-radius: $pagination-border-radius;
      }

      &.active, &:hover {
        background-color: #f6f6f6;
      }

      &.disabled {
        background-color: #fff !important;

        span { color: #ccc; }
      }

      a {
        text-decoration: none;
        color: $pagination-link-color;
        &:hover   { color: $pagination-link-color; }
        &:active  { color: $pagination-link-color; }
        &:visited { color: $pagination-link-color; }
      }
    }
  }
}
