#welcome {
  position: relative;
  width: 940px;
  height: 600px;
  margin: 20px auto;

  #loading {
    display: block;
    position: absolute;
    top: 124px; left: 270px;
  }

  #campus {
    display: none;
    width: 640px;
    height: 480px;
    position: absolute;
    top: 120px; left: 155px;
  }

  #campus-nav {
    display: none;
    width: 940px;
    height: 350px;
    position: absolute;
    top: 0; left: 0;
  }
}

#index-right {
  float: right;
  width: 580px;
  margin: 0 0 0 20px;
  padding: 0;

  .ballon {
    position: relative;
    background: #ddd;
    height: 50px;
    width: 400px;
    margin-bottom: 50px;
    padding: 20px 40px 20px;
    border-radius: 50px;
  }

  .ballon:before {
    content: '';
    position: absolute;
    background: #eee;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    bottom: -30px;
    right: 30px;
  }

  .ballon:after {
    content: '';
    position: absolute;
    background: #eee;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    bottom: -45px;
    right: 10px;
  }

  #site-updates {
  }

  #blog-updates {
    width: 300px;
  }
}

#sns {
  float: left;
  width: 340px;
  height: 1115px;
  margin: 0;
  padding: 0;

  .fb-like-box {
    margin: 0 0 20px;
    border: 1px solid #e8e8e8;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
  }
}

@media all and (max-width: 480px) {
  #index-right {
    float: none;
    width: 100%;
    margin: 0;
  }

  #sns {
    float: none;
    width: 100%;
  }
}
