//@media all and (min-width: 1020px) {

#global-wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

#background {
  width: 980px;
  margin: 20px auto;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #166420;
  border-radius: 20px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

#header {
  height: 120px;

  #banner {
    position: relative;
    height: 90px;

    img {
      margin: 0;
      padding: 0;
    }

    h1 {
      position: absolute;
      left: 20px; top: 15px;
      margin: 0;
      padding: 0;
      font-size: 30px;
    }
  }

  nav {
    background: image-url('header-nav-bg.png');

    a {
      color: #333;
      text-decoration: none;
    }

    &.stick-to-top {
      position: fixed;
      top: 0;
    }

    ul {
      margin: 0 20px;
      padding: 0;
      height: 30px;
      list-style: none;

      li {
        position: relative;
        float: left;
        height: 30px;
        margin: 0;
        padding: 1px 0;
        background: transparent;

        &#site-search {
          float: right;

          form {
            height: 20px;
            margin: 5px 0 0 0;
            padding: 0;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 10px;

            input[type="text"] {
              width: 160px;
              margin: 0;
              padding: 3px 10px 2px;
              border: none;
              outline: none; /* set alternative effects by js. */
              background: image-url('search.png');
              background-repeat: no-repeat;
              background-position: 160px 4px;
            }
          }
        }

        a {
          display: block;
          height: 28px;
          margin: 0;
          padding: 0 10px;
          background: transparent;

          &:hover, &:focus, &.current {
            background: rgba(255, 225, 225, 0.25);
            outline: none;
          }

          span {
            display: inline;
            line-height: 28px;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
          }
        }
      }
    }
  }
}

#main {
  padding: 20px 0 0;

  #contents-wrapper {
    margin: 0;
    padding: 0;

    #contents {
      display: block;
      float: left;
      width: 640px;
      margin: 0 20px 0 0;
      padding: 0;

      h1 {
        margin: 0 0 20px;
        padding: 0;
        font-size: 28px;
        line-height: 32px;
      }

      section {
        margin: 0 0 20px;
        padding: 0;

        &:last-child {
          margin: 0;
        }

        p {
          margin: 0 0 5px;

          &:last-child {
            margin: 0;
          }
        }

        h2 {
          margin: 0 0 10px;
          padding: 0;
          font-size: 24px;
          line-height: 28px;

          & + p {
            margin: 0 0 20px;
          }
        }

        article {
          margin: 0 0 20px;
          padding: 0;

          &:last-child {
            margin: 0;
          }

          h3 {
            margin: 0 0 10px;
            padding: 0;
            font-size: 20px;
          }
        }
      }
    }

    #side {
      display: block;
      float: right;
      width: 280px;

      nav {
        width: inherit;

        &.stick-to-top {
          position: fixed;
          top: 50px;
        }

        a {
          display: block;
          height: 30px;
          margin: 0;
          padding: 0;
          color: #333;
          text-decoration: none;

          span {
            line-height: 30px;
            vertical-align: middle;
          }
        }

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li {
            margin: 0;
            padding: 0;
            border-bottom: #aaa 1px double;

            &:last-child {
              border-bottom: none;
            }

            & > ul {
              list-style: none;
              margin: 0;
              padding: 0;

              & > li {

                & > a {
                  padding-right: 20px;
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  $footer-color: #555;
  margin: 0 0 20px;
  padding: 0;
  color: $footer-color;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $footer-color;
    text-decoration: none;
  }

  #footer-contents {
    margin: 0 0 20px;

    h1 {
      margin: 0 0 20px;
      padding: 0 0 3px;
      font-size: 20px;
      border-bottom: 1px solid #555;
    }

    nav {
      width: 520px;
      float: left;
      margin: 0 20px 0 0;

      .footer-nav-column {
        display: block;
        float: left;
        margin: 0 20px 0 0;
        width: 160px;

        &:last-child {
          margin: 0;
        }

        div {
          margin: 0 0 20px;

          &:last-child {
            margin: 0;
          }

          h2 {
            padding: 0 0 2px;
            font-size: 16px;
            border-bottom: 1px solid #555;
          }
        }
      }
    }

    #footer-info {
      float: right;
      width: 400px;

      dl {
        dt {
          display: block;
          float: left;
          width: 100px;
          margin: 0 20px 0 0;
          padding: 0;
          text-align: right;
        }

        dd {
          display: block;
          float: right;
          width: 280px;
          margin: 0 0 20px;
          padding: 0;

          &:last-child {
            margin: 0;
          }

          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            text-decoration: underline;
          }
        }
      }
    }
  }

  address {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
  }
}
