/* desktop */
@media all and (min-width: 1025px) {
  .only-desktop              { /* visible */ }
  .only-tablet-landscape     { display: none; }
  .only-tablet-portrait      { display: none; }
  .only-smartphone-portrait  { display: none; }

  .except-desktop              { display: none; }
  .except-tablet-landscape     { /* visible */ }
  .except-tablet-portrait      { /* visible */ }
  .except-smartphone-portrait  { /* visible */ }
}

/* tablet landscape or smartphone landscape */
@media all and (max-width: 1024px) and (min-width: 769px) {
  .only-desktop              { display: none; }
  .only-tablet-landscape     { /* visible */ }
  .only-tablet-portrait      { display: none; }
  .only-smartphone-portrait  { display: none; }

  .except-desktop              { /* visible */ }
  .except-tablet-landscape     { display: none; }
  .except-tablet-portrait      { /* visible */ }
  .except-smartphone-portrait  { /* visible */ }
}

/* tablet portrait */
@media all and (max-width: 768px) and (min-width: 481px) {
  .only-desktop              { display: none; }
  .only-tablet-landscape     { display: none; }
  .only-tablet-portrait      { /* visible */ }
  .only-smartphone-portrait  { display: none; }

  .except-desktop              { /* visible */ }
  .except-tablet-landscape     { /* visible */ }
  .except-tablet-portrait      { display: none; }
  .except-smartphone-portrait  { /* visible */ }
}

/* smartphone portrait */
@media all and (max-width: 480px) {
  .only-desktop              { display: none; }
  .only-tablet-landscape     { display: none; }
  .only-tablet-portrait      { display: none; }
  .only-smartphone-portrait  { /* visible */ }

  .except-desktop              { /* visible */ }
  .except-tablet-landscape     { /* visible */ }
  .except-tablet-portrait      { /* visible */ }
  .except-smartphone-portrait  { display: none; }
}

@media all and (max-width: 480px) {

  #global-wrapper {
    width: 100%;

    .wrapper {
      width: auto;
      margin: 0 10px;
    }

    #background {
      width: auto;
      margin: 9px;
      padding: 10px 0;
      border-radius: 10px;

      #header {
        height: auto;

        #banner {
          height: auto;

          img {
            max-width: 100%;
            height: auto;
          }

          a#link-to-admin {
            top: 0; right: 10px;
          }
        }

        nav {
          #jump-to-footer {
            height: 30px;
            background: image-url('header-nav-bg.png');

            a {
              display: block;
              width: 100%;
              height: 30px;

              span {
                line-height: 30px;
                margin-left: 10px;
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
              }
            }
          }
        }
      }

      #main {
        padding: 10px 0;

        #contents-wrapper {
          width: 100%;
        }
      }
    }

    #footer {
      .wrapper {
        width: auto;
        margin: 20px;

        #footer-contents {
          nav {
            float: none;
            width: 100%;
            margin: 0 0 10px;

            .footer-nav-column {
              float: none;
              width: 100%;
              margin: 0;

              div {
                margin: 0 0 10px;
              }
            }

          }

          #footer-info {
            float: none;
            width: 100%;
            margin: 0 0 10px;

            dl {
              dt {
                float: none;
                width: 100%;
                text-align: left;
              }

              dd {
                float: none;
                width: 100%;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
