#welcome {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 15px auto;

  #loading {
    display: block;
    position: absolute;
    top: 64px; left: 120px;
  }

  #campus {
    display: none;
    width: 640px;
    height: 480px;
  }
}
